In [1]:
from Stocks import Stocks
stocks = Stocks()

                        growth
utilities               334.87
energy                  315.61
financial-services      293.06
technology              120.50
industrials             113.28
communication-services   65.02
consumer-cyclical        50.55
real-estate              30.63
consumer-defensive       27.52
healthcare              -23.71
basic-materials         -71.10