In [1]:
import matplotlib.pyplot as plt
from TechStocks import TechStocks
from datetime import datetime
import pandas as pd

tech_stocks = TechStocks()

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/AGAU3.SA?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=AGAU3.SA&crumb=86zovq5wD9O
404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/TVIT3.SA?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=TVIT3.SA&crumb=86zovq5wD9O
AGAU3.SA: No data found, symbol may be delisted
BRQB3.SA: No price data found, symbol may be delisted (period=10y)
QUSW3.SA: No data found, symbol may be delisted
TVIT3.SA: No data found, symbol may be delisted

In [2]:
companies_pl_dict = {}
for ticker in tech_stocks.get_tickers():
    info = tech_stocks.info_data[ticker]
    companies_pl_dict[ticker] = info['pl']
df = pd.DataFrame([companies_pl_dict], index=['pl'])
df = df.T
df.sort_values(by='pl', ascending=False, inplace=True)
df

             pl
NGRD3.SA  109.0
TOTS3.SA  37.34
BMOB3.SA  16.87
PDTC3.SA  14.05
INTB3.SA  12.82
POSI3.SA   5.89
MLAS3.SA   None
CASH3.SA   None
LWSA3.SA   None
AGAU3.SA   None
BRQB3.SA   None
ENJU3.SA   None
NINJ3.SA   None
IFCM3.SA   None
LVTC3.SA   None
QUSW3.SA   None
TRAD3.SA   None
TVIT3.SA   None

In [3]:
companies_dy_dict = {}
for ticker in tech_stocks.get_tickers():
    info = tech_stocks.info_data[ticker]
    companies_dy_dict[ticker] = info['dy']
df = pd.DataFrame([companies_dy_dict], index=['dy'])
df = df.T
df.sort_values(by='dy', ascending=False, inplace=True)
df

            dy
CASH3.SA  0.29
POSI3.SA  0.06
BMOB3.SA  0.04
INTB3.SA  0.03
TOTS3.SA  0.01
NGRD3.SA  0.01
LWSA3.SA  0.01
LVTC3.SA   0.0
MLAS3.SA  None
AGAU3.SA  None
BRQB3.SA  None
ENJU3.SA  None
NINJ3.SA  None
IFCM3.SA  None
PDTC3.SA  None
QUSW3.SA  None
TRAD3.SA  None
TVIT3.SA  None